/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-moblile-tablet {
        display: none;
    }


}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {

    .hide-on-moblile {
        display: none;
    }


    /* header */

    .header__navbar-list {
        position: absolute;
        top: calc(var(--header__nav-with-info-height) + (var(--header__img-height) - var(--header__nav-with-info-height)));
        right: 5px;
        background-color: #011c45;
        opacity: 0.9;
        width: 100%;
        animation: mobileSearchSideIn ease-in 0.3s;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            right: -100px;
        }

        to {
            opacity: 1;
            right: 30px;
        }
    }

    .header__nav-with-search,
    .header__navbar-item {
        border-radius: 0px;
    }



    .header__navbar-search {
        width: 80%;
        margin-right: auto;
        margin-left: 0;
        padding: 0 10px;
    }

    .header__navbar-menu-icon {
        display: block;
        color: #fff;
        font-size: 2rem;
        padding: 0 10px;
    }

    /* footer */
    .footer_content {
        text-align: center;
    }

    .footer__img-qr {
        margin: 0 auto;
    }
}