html {
    background-image: linear-gradient(to top, var(--primary-brown-color), var(--primary-black-color) 50%);
    background-repeat: no-repeat;
    height: 100vh;
}

.app {}



/* Header */

.header {
    padding: 10px 10px 0px;
    background-color: var(--primary-black-color);
}

.nav {}

.nav__icon {
    display: inline-block;
    font-size: 3rem;
    color: var(--white-color);
}

.nav__icon i {
    display: block;
    cursor: pointer;
}

.nav__icon i:hover {
    opacity: 0.8;
}

.nav__logo {
    display: inline-block;
    cursor: pointer;
}

.nav__logo img {
    height: 50px;
}

.nav__category__list {
    list-style: none;
    padding: 10px 0;
}

.nav__category__item {
    height: 100%;
    font-size: 2rem;
    text-align: center;
}

.nav__category__link {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #D5D5D5;
}

.nav__category__link.activated {
    color: var(--primary-red-color);
}

.nav__category__link:hover {
    color: var(--primary-red-color);
}

.nav__user {
    margin-left: auto;
}

.nav__signInBtn {
    display: block;
    padding: 10px 0;
}

.nav__signInBtn button {
    display: block;
    margin: 0 auto;
    height: 100%;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--primary-red-color);
    cursor: pointer;
}

.nav__signInBtn button:hover {
    background-color: #a21b2f;
}

/* Body */

.body {
    padding: 50px;
}

.information__content {
    color: var(--white-color);
    margin: 50px 0;
}

.information__name {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    margin: 5px 0;
    color: var(--primary-red-color);
}

.information__job {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 5px 0;
    color: var(--primary-red-color);
}

.information__description {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 5px 0;
}

.information__contact {
    margin: 5px 0;
}

.contact__icon {
    text-decoration: none;
    font-size: 2rem;
    color: var(--primary-red-color);

}

.contact__icon i {
    margin-top: 5%;
}

.contact__icon i:hover {
    color: #a21b2f;
}

.contact__btn {
    display: flex;
    margin: 0 auto;
    font-size: 2rem;
    border: none;
}

.contact__link:hover {
    background-color: #a21b2f;
}

.contact__link {
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--primary-red-color);
    cursor: pointer;
}

.contact__link i {
    margin-left: 5px;
}

.information__img {
    position: relative;
}


.information__img::after {
    content: "";
    position: absolute;
    top: 18%;
    left: 25%;
    height: 350px;
    width: 300px;
    background-color: rgba(76, 42, 54, 1);
    z-index: 1;
    border-radius: 10px;
    box-shadow: 1px 10px 10px var(--black-color);
}

.information__img img {
    position: absolute;
    top: 0%;
    left: 26%;
    display: block;
    margin: 0 auto;
    height: 400px;
    user-select: none;
    z-index: 2;
}


/* Responsive */

/* Pc */
@media (min-width: 1023px) {
    .hide-on-pc {
        display: none;
    }


}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-moblile-tablet {
        display: none;
    }


}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }


    /* Header */
    .nav__logo img {
        height: 40px;

    }


    /* Body */

    .contact__link {
        padding: 5px 10px;
    }

    .information__img::after {

        top: 16%;
        left: 20%;
        height: 300px;
        width: 250px;

    }

    .information__img img {
        top: 10%;
        left: 26%;
        height: 320px;
    }


}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-moblile {
        display: none;
    }


    /* Header */
    .nav__category__list {
        display: none;
        position: fixed;
        top: 60px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgb(36, 40, 42, 0.9);
        z-index: 3;
    }

    .nav__category__item {
        width: 100%;
        text-align: left;
        padding: 10px 0;
        margin-left: 15px;
    }

    /* Body */
    .body {
        padding: 20px 15px;
    }

    .information__content {
        color: var(--white-color);
        margin: 10px 0 20px;
    }

    .information__name {
        font-size: 4rem;
        line-height: 4.5rem;

    }

    .information__job {
        font-size: 2.5rem;
    }

    .information__description {
        font-size: 2rem;
        line-height: 2rem;
        margin: 20px 0;
    }

    .contact__icon {
        font-size: 1.8rem;
    }

    .contact__icon i {
        margin-top: 5%;
    }


    .contact__btn {
        font-size: 1.5rem;
    }

    .information__img {
        position: relative;
    }

    .information__img::after {
        top: 16%;
        left: 22%;
        height: 280px;
        width: 220px;
    }

    .information__img img {
        left: 25%;
        height: 280px;
    }


}