:root {
    --white-color: #fff;
    --black-color: #000000;


    --primary-red-color: #E0324B;
    --primary-black-color: #24282A;
    --primary-brown-color: #4C2A36;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    /* 16px ~ 100% */
    /* 
        đưa về =62.5% tương đương với 1 rem = 10px 
        nếu muốn đưa về 12px thì chỉ cần ghi 1.2px 
        */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}