.app {}

/* 404 Notification */
#error__Notification {
    position: relative;
    display: none;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header__img-height);
    z-index: 2;
    /* background-image: url(/asset/img/header_img.jpg); */
    background-size: cover;
}

.header__nav-with-info {
    display: flex;
    justify-content: space-between;
}

.header__logo-link {
    display: block;
    max-width: 230px;
    max-height: 95px;
}

.header__logo-img {
    display: block;
    max-width: 100%;
    max-height: calc(var(--header__img-height) *(2/3));
}

.header__user {
    display: block;
    margin-top: calc(var(--header__img-height) - var(--header__nav-with-info-height) + 1.4rem);
}

.header__user-item {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: var(--black-color);
    padding-left: 5px;
}

.header__user-item:hover {
    color: rgba(0, 0, 0, 0.5);
}

.header__user-item:nth-child(2) {
    border-left: 1px solid var(--black-color);
}

/* Header with search */

.header__nav-with-search {
    height: calc((var(--header__img-height) - var(--header__nav-with-info-height)));
    background-image: linear-gradient(to bottom, #2D99AE, #011C45);
    border-radius: 10px;
}

.header__navbar-wrap {
    padding: 0 20px;
    height: 100%;
    align-items: center;
}

.header__navbar-list {
    list-style: none;

}

.header__navbar-item {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}


.header__navbar-item:hover .header__navbar-item-link {
    color: var(--black-color);
}

.header__navbar-item:hover {
    background-color: #BCFEFC;
}

.header__navbar-item-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white-color);
}

.header__navbar-search {
    margin-left: auto;
    height: 65%;
    align-items: center;
    display: flex;
    border-radius: 5px;
    background-color: var(--white-color);
}


.header__navbar-search-input {
    height: 100%;
    width: 90%;
    background: transparent;
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    font-size: 1.4rem;
}

.header__navbar-search-icon {
    float: right;
    height: 100%;
    margin-left: auto;
    padding: 0 10px;
    transform: translateY(25%);
    font-size: 1.3rem;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
}

.header__navbar-menu-icon {
    display: none;
    cursor: pointer;
}

/* App container */
.app__container {
    position: relative;
    top: calc(var(--header__img-height));
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #2D99AE, #011C45);
    background-size: contain;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    padding: 20px 0 var(--footer_content-height) 0;
}

/* slider */
.slider {
    position: relative;
    height: 450px;
    /* background-size: 100% 100%; */
    border-radius: 30px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 1);
    overflow: hidden;
}

.slider-list {
    position: absolute;
    height: 100%;
    display: flex;
    transition: 1s;
    display: flex;
    justify-content: center;
}

.slider-item img {
    position: relative;
    display: block;
    margin: auto;
    height: 100%;
    width: 80vw;
    object-fit: fill;
}

.slider-button {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider-button button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider-dot {
    position: absolute;
    bottom: 10px;
    color: #fff5;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dot-item {
    cursor: pointer;
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dot-item__active {
    list-style: none;
    width: 30px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 20px;
}





/* recommend */

.home-post {
    position: relative;
    margin-top: 30px;
}

.trend-post__heading,
.home-post__heading {
    display: block;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 5px 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.home-post-item {
    margin-top: 10px;
}


.home-post-list {
    list-style: none;
}

.home-post-link {
    text-decoration: none;
}

.home-post-link:hover .home-post-img {
    opacity: 0.8;
}

.home-post-img {
    display: block;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.trend-post {
    position: relative;
    margin-top: 30px;
}

.trend-post-list {
    list-style: none;
}

.trend-post-item {
    margin-bottom: 45px;
}

.trend-post-item:hover,
.trend-post-item:hover .trend-post-name {
    opacity: 0.9;
    transform: translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    color: #2D99AE;
}

.trend-post-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.trend-post-img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.trend-post-name {
    text-align: center;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.trend-post__footer {
    display: block;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to top, #011C45, #2D99AE);
    margin: 30px auto 0;
}

.trend-post__footer-link {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    color: #BCFEFC;
}

.trend-post__footer:hover .trend-post__footer-link {
    background-color: #BCFEFC;
    color: #011C45;
    animation: ease-in;
}






/* Footer */

.footer {
    position: relative;
    z-index: 2;
    display: block;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 30px 0;
    border-top: 3px solid var(--white-color);
    background-image: linear-gradient(to bottom, #011C45, #2D99AE);

}


.footer_content {
    margin-bottom: 10px;

}

.footer__heading {
    color: var(--white-color);
    display: inline-block;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300px;
    border-bottom: 2px solid #FF1D1D;
}

.footer-list {
    list-style: none;
    margin-top: 16px;
}


.footer-item__icon {
    align-self: center;
    display: block;
    margin-right: 8px;
    font-size: 1.8rem;
}

.footer-item__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 5px 0;
    display: inline-block;
}

.footer-item:hover {
    opacity: 0.5;
}

.footer__img {
    margin-top: 16px;
}

.footer__img-qr {
    display: block;
    width: 80px;
}

.footer_bottom {
    background-color: #011C45;
    position: absolute;
    width: 100%;
    padding: 8px 0;
    margin-top: 10px;
}

.footer__text {
    font-size: 1.4rem;
    color: #F5F5F5;
    text-align: center;
}