/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-moblile-tablet {
        display: none;
    }


}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none;
    }

    html {
        height: 100%;
    }


    /* slider */
    .slider {
        height: 350px;
    }

    .slider-img {
        width: 90vw;

    }


}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-moblile {
        display: none;
    }

    /* Header */
    .header {
        position: fixed;
        top: 0;
        left: 0px;
        right: 0px;
        z-index: 2;
    }

    /* Menu */
    .menu__container {
        display: none;
        position: fixed;
        background-color: var(--primary-black-color);
        top: 64px;
        z-index: 2;
    }

    .menu-footer {
        position: fixed;

    }

    .home__container {
        margin-top: 81px;
        padding: 20px 0;
    }


    /* Slider */

    .slider {
        height: 210px;
        border-radius: 0px;
    }

    .slider-img {
        height: 100%;
        width: 100vw;

    }

    .item-title {
        font-weight: 600;
        font-size: 2rem;
    }

    .item-description {
        margin: 10px 0;
        font-size: 1.6rem;
    }

    .item-btn {
        border-radius: 10px;
        padding: 5px 15px;
        font-size: 1.2rem;
        border: 2px solid var(--white-color);
    }

    /* Game */
    .game__item img {
        border-radius: 0;
        margin: 0;
    }
}